div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60pt;
    font-weight: bold;
    font-style: italic;
    color: darkblue;
    margin-top: 35vh;
}
  
body {
    text-align: center;
}