:root {
    --font: "Arial";
    --color: #000000;
}

span {
    font-family: var(--font);
    font-size: 60pt;
    font-weight: bold;
    font-style: italic;
    color: var(--color);  
    align-items: center;
    justify-content: center;
    display: flex;
}

div {
    margin-top: 20vh;
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}